NUXT_ADMIN_EMAILS=
NUXT_JWT_SECRET=
NUXT_JWT_EXP_TIME=

NUXT_IS_EMAIL_SENDER_ENABLED=
NUXT_SENDER_GMAIL_REFRESH_TOKEN=
NUXT_SENDER_GMAIL_ADDRESS=
NUXT_RECEIVER_MAIL_ADDRESS=

NUXT_GOOGLE_CLIENT_SECRET=
NUXT_RECAPTCHA_SECRET=

# public
NUXT_PUBLIC_GOOGLE_CLIENT_ID=
NUXT_PUBLIC_RECAPTCHA_SITE_KEY=
NUXT_PUBLIC_GA_MEASUREMENT_ID=
